@using Microsoft.Ajax.Utilities
@model IcbmikeBlag.Controllers.ArchiveModel

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Archive</h2>

<ul>
    
    @foreach (var year in Model.Items.Keys)
    {
        <li>
            @year
            <ul>
                @foreach (var month in Model.Items[year].Keys)
                {
                    <li>
                        @month
                        <ul>
                            @foreach (var day in Model.Items[year][month].Keys)
                            {
                                <li>
                                    @day
                                    <ul>
                                        @foreach (var post in Model.Items[year][month][day])
                                        {
                                            <li>
                                                @Html.ActionLink(post.Title, "Post", new {id = post.ID})
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>