@model dynamic

@{
    ViewBag.Title = "Admin HUb";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Admin HUb</h2>

<div class="admin-hub">
    @Html.ActionLink("Create new post", "CreatePost", "Admin")
</div>
