@model IcbmikeBlag.Models.Admin.AdminHubModel

@{
    ViewBag.Title = "Admin HUb";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Admin Hub</h2>

<div class="admin-hub">
    <fieldset>
        <legend>Actions</legend>
        @Html.ActionLink("Create new post", "CreateOrEditPost", "Admin")
    
        @Html.ActionLink("Change account deets", "ChangeUser", "Admin")
    
        <a href="#">Create User?</a>
        
    </fieldset>

    <fieldset>
        <legend>Sick Stats</legend>

    </fieldset>

</div>
