@model IcbmikeBlag.Models.Home.PostModel

<div class="blog-post tron-border">
    <span class="tron-text">@Model.Title</span> - <span class="tron-text">@Model.DatePosted.ToShortDateString() @Model.DatePosted.ToShortTimeString()</span>
    <hr class="tron-border"/>
    <p>
        @Model.Content
    </p>
</div>
