@import "tron-mixins";

.comment{
    border: 1px solid;
    .tron-border;
    margin-bottom: 10px;
    padding: 10px;
    time{
        .float-or-stack;
    }
    h2{
        font-size:16px;
        color:black;
        display:inline;
    }
    header a{
        float:right;
        margin-right:5px;
        color:#168ecb;
    }
}