@import "tron-mixins";
@import "variables";

#content, #content-error {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: @container-max-width;
    min-height: 1000px;
    margin-top: 0px;

    & > footer {
        border-top: 1px solid white;
        margin-top: 50px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;

        a {
            display: inline-block;
            width: 100px;
            height: 100px;
            padding: 0px 3%;
            text-align: center;
            -moz-transition: background-image 0.5s ease;
            -o-transition: background-image 0.5s ease;
            -webkit-transition: background-image 0.5s ease;
            transition: background-image 0.5s ease;
            -moz-background-size: auto 100%;
            background-size: auto 100%;
        }
    }
}

a.twitter-link{
    background: url("/Content/Images/twitter-grayscale.png") no-repeat;
    &:hover{
        background-image: url("/Content/Images/twitter-colour.png");
    }
}
a.github-link{
     background: url("/Content/Images/octocat-grayscale.png") no-repeat;
    &:hover{
        background-image: url("/Content/Images/octocat-colour.png");
    }
}

a.gmail-link{
     background: url("/Content/Images/gmail-grayscale.png") no-repeat;
    &:hover{
        background-image: url("/Content/Images/gmail-colour.png");
    }

}
