.tron-boxshadow {
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}
.tron-boxshadow-hover {
  box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}
.tron-boxshadow-error-hover {
  box-shadow: 0px 11px 22px 6px rgba(255, 20, 20, 0.75);
}
.tron-border {
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
}
.tron-border-hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.tron-text {
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.tron-text-hover {
  color: rgba(50, 122, 138, 0.75);
}
@media (min-width: 650px) {
  .float-or-stack {
    float: right;
  }
}
@media (max-width: 650px) {
  .float-or-stack {
    display: block;
  }
}
#content,
#content-error {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 0px;
  padding: 0px 10px;
}
#content > footer,
#content-error > footer {
  border-top: 1px solid white;
  margin-top: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#content > footer a,
#content-error > footer a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0px 3%;
  text-align: center;
  -moz-transition: background-image 0.5s ease;
  -o-transition: background-image 0.5s ease;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
a.twitter-link {
  background: url("/Content/Images/twitter-grayscale.png") no-repeat;
}
a.twitter-link:hover {
  background-image: url("/Content/Images/twitter-colour.png");
}
a.github-link {
  background: url("/Content/Images/octocat-grayscale.png") no-repeat;
}
a.github-link:hover {
  background-image: url("/Content/Images/octocat-colour.png");
}
a.gmail-link {
  background: url("/Content/Images/gmail-grayscale.png") no-repeat;
}
a.gmail-link:hover {
  background-image: url("/Content/Images/gmail-colour.png");
}
