.tron-boxshadow {
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}
.tron-boxshadow-hover {
  box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}
.tron-boxshadow-error-hover {
  box-shadow: 0px 11px 22px 6px rgba(255, 20, 20, 0.75);
}
.tron-border {
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
}
.tron-border-hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.tron-text {
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.tron-text-hover {
  color: rgba(50, 122, 138, 0.75);
}
@media (min-width: 650px) {
  .float-or-stack {
    display: inline-block;
    float: right;
  }
}
@media (max-width: 650px) {
  .float-or-stack {
    display: block;
  }
}
.login-box {
  margin: 30px auto 0px auto;
  position: relative;
  border: 1px solid;
  width: 250px;
  padding: 20px;
  padding-bottom: 50px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
}
.login-box:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.login-box div {
  margin-bottom: 10px;
}
.login-box div label {
  display: inline-block;
  width: 85px;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.login-box div label:hover {
  color: rgba(50, 122, 138, 0.75);
}
.login-box div input {
  padding: 3px;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
}
.login-box div input:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.login-box input[type=submit] {
  float: right;
  display: inline-block;
}
