* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: #aaaaaa;
  font-family: Helvetica, sans-serif;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #aaaaaa;
  text-decoration: none;
}
fieldset,
hr {
  border: none;
}
#content,
#content-error {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  min-height: 1000px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  -moz-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
  box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}
#content > footer,
#content-error > footer {
  border-top: 1px solid white;
  margin-top: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#content > footer a,
#content-error > footer a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0px 3%;
  text-align: center;
  -moz-transition: background-image 0.5s ease;
  -o-transition: background-image 0.5s ease;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  background-size: auto 100%;
}
a.twitter-link {
  background: url("/Content/Images/twitter-grayscale.png") no-repeat;
}
a.twitter-link:hover {
  background-image: url("/Content/Images/twitter-colour.png");
}
a.github-link {
  background: url("/Content/Images/octocat-grayscale.png") no-repeat;
}
a.github-link:hover {
  background-image: url("/Content/Images/octocat-colour.png");
}
a.gmail-link {
  background: url("/Content/Images/gmail-grayscale.png") no-repeat;
}
a.gmail-link:hover {
  background-image: url("/Content/Images/gmail-colour.png");
}
#content:hover {
  box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}
#content-error:hover {
  box-shadow: 0px 11px 22px 6px rgba(255, 20, 20, 0.75);
}
.tron-boxshadow {
  -moz-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
  box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}
.tron-boxshadow-hover {
  box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}
.tron-boxshadow-error-hover {
  box-shadow: 0px 11px 22px 6px rgba(255, 20, 20, 0.75);
}
.tron-border {
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.tron-border-hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.tron-text {
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.tron-text-hover {
  color: rgba(50, 122, 138, 0.75);
}
.blog-post {
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.blog-post .title,
.blog-post .date-posted {
  margin-bottom: 10px;
  display: inline-block;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.blog-post .title:hover,
.blog-post .date-posted:hover {
  color: rgba(50, 122, 138, 0.75);
}
.blog-post .date-posted {
  float: right;
}
.blog-post:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.blog-post .content {
  border: 1px solid;
  padding: 10px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.blog-post .content:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.blog-post .content p {
  margin-bottom: 15px;
}
.blog-post footer {
  margin-top: 10px;
}
.blog-post footer .comments-link,
.blog-post footer .edit-link {
  float: right;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  margin-right: 5px;
}
.blog-post footer .comments-link:hover,
.blog-post footer .edit-link:hover {
  color: rgba(50, 122, 138, 0.75);
}
.blog-post footer .tag {
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.blog-post footer .tag:hover {
  color: rgba(50, 122, 138, 0.75);
}
nav {
  border-bottom: 1px solid white;
  padding-bottom: 7px;
  margin-bottom: 20px;
}
nav a {
  display: inline-block;
  height: 27px;
  width: 80px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
nav a:hover {
  border-color: rgba(50, 122, 138, 0.75);
  color: rgba(50, 122, 138, 0.75);
}
nav form {
  float: right;
}
nav form .search {
  background-color: black;
  color: white;
  padding: 3px;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
nav form .search:hover {
  border-color: rgba(50, 122, 138, 0.75);
  color: rgba(50, 122, 138, 0.75);
}
.login-box {
  margin: 30px auto 0px auto;
  position: relative;
  border: 1px solid;
  width: 250px;
  padding: 20px;
  padding-bottom: 50px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.login-box:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.login-box div {
  margin-bottom: 10px;
}
.login-box div label {
  display: inline-block;
  width: 85px;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.login-box div label:hover {
  color: rgba(50, 122, 138, 0.75);
}
.login-box div input {
  background-color: black;
  color: white;
  padding: 3px;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.login-box div input:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.login-box input[type=submit] {
  float: right;
  display: inline-block;
}
.error {
  color: red;
}
.post-editor {
  padding: 10px;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.post-editor:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.post-editor input {
  background-color: black;
  color: white;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.post-editor input:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.post-editor div {
  margin-bottom: 7px;
}
.post-editor .content {
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  border: 1px solid;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-editor .content:hover,
.post-editor .content:focus {
  border-color: rgba(50, 122, 138, 0.75);
}
.post-editor .tags {
  width: 300px;
}
.post-editor .button {
  float: right;
}
button,
input[type="submit"],
input[type="button"] {
  width: 80px;
  height: 30px;
  background-color: black;
  border: 1px solid;
  color: white;
  cursor: pointer;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  border-color: rgba(50, 122, 138, 0.75);
  color: rgba(50, 122, 138, 0.75);
}
.admin-hub fieldset {
  border: 1px solid;
  margin-top: 20px;
  padding: 10px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(255, 255, 255, 0.75);
}
.admin-hub fieldset:hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.admin-hub fieldset a {
  display: block;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.admin-hub fieldset a:hover {
  color: rgba(50, 122, 138, 0.75);
}
