.tron-boxshadow {
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}
.tron-boxshadow-hover {
  box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}
.tron-boxshadow-error-hover {
  box-shadow: 0px 11px 22px 6px rgba(255, 20, 20, 0.75);
}
.tron-border {
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
}
.tron-border-hover {
  border-color: rgba(50, 122, 138, 0.75);
}
.tron-text {
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
.tron-text-hover {
  color: rgba(50, 122, 138, 0.75);
}
@media (min-width: 650px) {
  .float-or-stack {
    float: right;
  }
}
@media (max-width: 650px) {
  .float-or-stack {
    display: block;
  }
}
nav {
  border-bottom: 1px solid #808080;
  padding-bottom: 7px;
  margin-bottom: 20px;
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 10px;
}
nav h2 {
  display: inline;
  margin-right: 15px;
  color: black;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
@media (min-width: 650px) {
  nav ul {
    display: inline;
  }
}
@media (max-width: 650px) {
  nav ul {
    clear: right;
    display: none;
  }
}
nav ul li {
  vertical-align: middle;
}
@media (min-width: 650px) {
  nav ul li {
    display: inline-block;
  }
}
@media (max-width: 650px) {
  nav ul li {
    display: block;
  }
}
nav ul li a {
  height: 27px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
nav ul li a:hover {
  border-color: rgba(50, 122, 138, 0.75);
  color: rgba(50, 122, 138, 0.75);
}
@media (min-width: 650px) {
  nav ul li a {
    display: inline-block;
    width: 80px;
  }
}
@media (max-width: 650px) {
  nav ul li a {
    display: block;
  }
}
nav ul li form .search {
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid;
  height: 27px;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
  border-color: rgba(200, 200, 255, 0.75);
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
@media (min-width: 650px) {
  nav ul li form .search {
    display: inline-block;
    margin-top: 1px;
  }
}
@media (max-width: 650px) {
  nav ul li form .search {
    display: block;
    width: 100%;
    margin-top: 0px;
  }
}
nav ul li form .search:hover {
  border-color: rgba(50, 122, 138, 0.75);
  color: rgba(50, 122, 138, 0.75);
}
@media (min-width: 650px) {
  nav ul li.menu-item-right {
    float: right;
  }
}
nav .menu-toggle-button {
  width: 50px;
  height: 40px;
  float: right;
  font-size: 20px;
}
@media (min-width: 650px) {
  nav .menu-toggle-button {
    display: none;
  }
}
@media (max-width: 650px) {
  nav .menu-toggle-button {
    display: inline-block;
  }
}
