
<div id="navbar">
    @using(Html.BeginForm("Index", "Search", FormMethod.Get)){

        <ul>
            <li class="tron-border tron-text">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="tron-border tron-text">@Html.ActionLink("Archive", "Index", "Archive")</li>
        
        </ul>
        <input class="search tron-border" type="text" name="searchterm" placeholder="Search..." />
    }
</div>