
<div id="navbar">
    @using(Html.BeginForm("Search", "Post", FormMethod.Get)){

        <ul>
            <li>@Html.ActionLink("Home", "Search", "Post")</li>
            <li>@Html.ActionLink("Archive", "Index", "Archive")</li>
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            }
        </ul>
        <input class="search" type="text" name="searchterm" placeholder="Search..." />
    }
</div>