body {
    background-color: black;
    color: #aaaaaa;
    font-family: Helvetica, sans-serif;
}

#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 1000px;
    padding: 7px;
}

.tron-boxshadow {
    transition: box-shadow 1s ease;
    box-shadow: 0px 11px 22px 6px rgba(255, 255, 255, 0.75);
}

.tron-boxshadow:hover {
    box-shadow: 0px 11px 22px 6px rgba(50, 122, 138, 0.75);
}

.tron-border {
    transition: border-color 1s ease;
    border-color: rgba(255, 255, 255, 0.75);
}

.tron-border:hover {
    border-color: rgba(50,122,138, 0.75);
}

.tron-text {
    transition: color 0.5s ease;
}

.tron-text:hover {
    color: rgba(50,122,138, 0.75);
}

.blog-post {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px;
    margin-top: 10px;
}