@model IcbmikeBlag.Models.BlagModelBase

<footer>
    <a href="mailto:icbmike@gmail.com" class="gmail-link" target="_blank">
        
    </a>

    <a href="https://github.com/icbmike" class="github-link" target="_blank">
       
    </a>
    
    <a href="https://twitter.com/icbmike" class="twitter-link" target="_blank">
        
    </a>

</footer>