@model IcbmikeBlag.Models.BlagModelBase

<nav>
    
    @Html.ActionLink("Home", "Index", "Posts")
    @Html.ActionLink("Archive", "Archive", "Posts")
            
    @if (Model.IsAuthenticated)
        {
            @Html.ActionLink("Admin", "Index", "Admin")
        }

    @using(Html.BeginForm("Search", "Posts", FormMethod.Get)){
        <input class="search" type="text" name="searchterm" placeholder="Search..." />
    }
</nav>