@model IcbmikeBlag.Models.BlagModelBase

<div id="navbar">
    
        @Html.ActionLink("Home", "Index", "Post")
        @Html.ActionLink("Archive", "Archive", "Post")
            
        @if (Model.IsAuthenticated)
        {
            @Html.ActionLink("Admin", "Index", "Admin")
        }

    @using(Html.BeginForm("Search", "Post", FormMethod.Get)){
        <input class="search" type="text" name="searchterm" placeholder="Search..." />
    }
</div>