@model IcbmikeBlag.Models.BlagModelBase

<nav>
    <h2>ICBMike Blag</h2>
    <button class="menu-toggle-button">v</button>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Posts")</li>
        <li>@Html.ActionLink("Archive", "Archive", "Posts")</li>
            
        @if (Model.IsAuthenticated)
        {
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        }

        <li class="menu-item-right">
            @using (Html.BeginForm("Search", "Posts", FormMethod.Get))
            {
                <input class="search" type="text" name="searchterm" placeholder="Search..." />
            }
        </li>
    </ul>
    
    

</nav>