@model IcbmikeBlag.Models.BlagModelBase

<nav>
    <a href="@Url.Action("Index", "Posts")"><h2>ICBMike Blag</h2></a>
    <button class="menu-toggle-button"><i class="fa fa-bars"></i></button>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Posts")</li>
        <li>@Html.ActionLink("Archive", "Archive", "Posts")</li>
            
        @if (Model.IsAuthenticated)
        {
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        }

        <li class="menu-item-right">
            @using (Html.BeginForm("Search", "Posts", FormMethod.Get))
            {
                <input class="search" type="text" name="searchterm" placeholder="Search..." />
            }
        </li>
    </ul>
    
    

</nav>